html {
    scroll-behavior: smooth;
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0d16;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Spinner */
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
  }
  
  /* Spinner Animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Lock Icon */
  .lock {
    font-size: 50px;
    color: #fff;
    transition: transform 1.5s ease, opacity 1.5s ease;
  }
  
  /* Hide main content initially */
  body > :not(#loading-screen) {
    padding-top: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0; /* Ensure it sticks to the left edge */
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays above other content */
    background-color: #0c0d16; /* Optional: Background color for the navbar */
    padding: 0 30px; /* Optional: Add some padding if needed */
    box-shadow: 0 2px 2px -2px rgb(128, 128, 128, 20%);
  }

  .navbar-gif {
    height: 80px; /* Adjust height as needed */
    padding-right: 20px;
    margin-right: auto;
  }
  
  .navbar-right-content {
    display: flex;
    margin: 10px;
    align-items: center;
  }
  
  .contact-info a {
    font-size: 20px; /* Adjust icon size */
    text-decoration: none;
  }
  
  .contact-info a:hover {
    color: #aaa; /* Optional: Add hover effect */
  }

  .exp .text-grey {
    padding-left: 20px;
  }
